# 2.2 Valus and Data Types

A value is one of the fundemental things.
 
### Example
- sample 1
- smaple 2

We can use a function called type which can tell the class of the variable

In [3]:
print('Hi')
print(5)

Hi
5

In [4]:
print(type("Hello"))
print(type(17))

<class 'str'>
<class 'int'>

Numbers with a decimal point belong to a class called float

In [5]:
print(type(3.2))

<class 'float'>

"17" is in quotationmarks like strings.

In [7]:
print(type("17"))

<class 'str'>

# 2.3 Type conversion functions

In [1]:
print(3.14, int(3.14))

3.14 3

In [2]:
print(3.9999, int(3.9999))

3.9999 3

The type converter float can turn an integer, a float, or a syntactically legal string into a float.

# 2.4 Variables

 The first assigns the string value "What's up, Doc?" to a new variable named message.
The second gives the integer 17 to n, and the third assigns the floating-point number 3.14159 to a variable called pi.

The assignment token, =, should not be confused with equality (we will see later that equality uses the == token).
The assignment statement links a name, on the left hand side of the operator, with a value, on the right hand side. 
This is why you will get an error if you enter:

17 = n

ERROR

only n = 17 allowed

In [22]:
n = 17

In [23]:
17 = n

SyntaxError: can't assign to literal (<ipython-input-23-beb598da8e38>, line 1)

# 2.5 Variable names and keywords


and	as	assert	break	class	continue
def	del	elif	else	except	exec
finally	for	from	global	if	import
in	is	lambda	nonlocal	not	or
pass	raise	return	try	while	with
yield	True	False	None + 

are banned words you can't use

# 2.6 Statements and Expressions

In [24]:
print(1 + 10)
print(len("hi_what_is_your_name"))

11
20

len is how many letters there are

# 2.7 Operators and Operands

** means to the second power - example (print(5**2)) --answer--> 25
* means multiply - example (print(5*2)) --answer--> 10
- means to subtract
+ means to add

In [30]:
minutes = 690
hours = minutes / 60
print(hours)

11.5

# 2.8

In [31]:
n = input("Please enter where you live in: ")

print ( type(n) )

Please enter where you live in: Tenaflt
<class 'str'>